body, a, p, div, h1 {
	font-family: 'Open Sans', sans-serif;
}
/* general settings */
.panel {
	padding: 0px;
}

.panel-content {
	padding: 10px;
	padding-bottom: 20px;
}

.view header {
    background: #000000;
    border: none;
    border-bottom: 1px solid #000000;
    color: #F2F2F2;
}

.view header h1 {
    font-size: 18px;
    font-weight: 600;
    left: 27.5%;
    color: #ffffff;
    text-shadow: none;
}
.app-mobile-button:link {
	padding: 9px;
	text-decoration: none;
	color: #F2F2F2;
	display: inline-block;
}

.app-mobile-button:visited {
	color: #F2F2F2;
}

.app-mobile-button:hover {
	background-color: #353636;
}

.app-mobile-button:active {
	background-color: #353636;
}

.app-mobile-button span {
	font-size: 26px;
}

.app-mobile-button-back {
	color: #F2F2F2;
	float: left;
}

.app-mobile-button-cart {
	color: #F2F2F2;
	float: right;
	position: relative;
}

.cart-info {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #ff6e48;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px !important;
    text-align: center;
    padding-top: 1px;
}

.hidden_data {
	display: none;
}

.appetit-mobile-base-button:link {
	display: inline-block;
	padding: 10px 25px;
	background-color: #ff6e48;
	color: #FFFFFF;
	text-decoration: none;
	border-radius: 20px;
}

.appetit-mobile-base-button:visited {
	color: #FFFFFF;
}

.appetit-mobile-base-button:hover {
	background-color: #fd8d70;
}

.appetit-mobile-base-button:active {
	background-color: #fd8d70;
}

.appetit-mobile-base-button-icon {
	margin-left: 10px;
	font-size: 18px;
    vertical-align: text-top;	
}

.strong_price {
	font-weight: 600;
}

#app-header .backButton {
	display: none;
}
/* end general settings */


/* welcome page */
.app-mobile-logo_ui {
	text-align: center;
	margin-top: 12%;
	margin-bottom: 30px;
}
.app-mobile-logo_ui img {
	display: inline-block;
	max-width: 50%;
}

.app-mobile-welcome-text {
	text-align: center;
	padding: 10px 20px;
	color: #6e6e6e;
}

.app-mobile-welcome-button-label {
	text-align: center;
	margin-top: 20px;
}
/* end welcome page */


/* category page */
.appetit-list-item {
    position: relative;
    display: block;
    color: inherit;
    margin: -20px -20px -20px -10px;
    text-decoration: none;
    padding: 20px 20px 20px 10px;
}

.list > li > .appetit-list-item:after {
    position: absolute;
    right: 8px;
    font-family: 'chevron';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    content: "\f054";
    top: 50%;
    margin-top: -0.5em;
    color: inherit;
}

.appetit-list-item-thumb img {
	max-width: 70px;
}

.appetit-list-item-about {
	margin-left: 15px;
}

.appetit-list-item-excerpt {
	color: #bdc2c7;
}

.appetit-list-item-price {
	color: #959596;
	font-style: italic;
}
/* end category page */

/* item page */
.appetit-mobile-item-img-ui {
	position: relative;
}
.appetit-mobile-item-image {
	display: block;
}
.appetit-mobile-item-img-ui-cover {
	position: absolute; width: 100%; height: 100%; left: 0px; top: 0px;
	background: rgba(0, 0, 0, .4);
}
.appetit-mobile-item-img-ui-title {
	color: #f9f9f9;
	text-align: center;
	margin-top: 20%;
	font-size: 18px;
}
.appetit-mobile-item-img-ui-categ {
	color: #bab9b6;
	text-align: center;
	font-weight: 300;
	font-size: 16px;
}

.appetit-mobile-item-price-ui {
	background-color: #f4f4f4;
	padding: 10px 10px;
	margin-bottom: 10px;
}
/* end item page */

/* cart page */
.appetit-mobile-cart-info {
	color: #a5a4a4;
	text-align: center;
}

.appetit-mobile-order-title {
	margin: 10px;
}

.remove-order-item-ui {
	margin-top: 17px;
}

.remove-order-item-btn:link {
	text-decoration: none;
	color: #cccccc;
	font-size: 22px;
}
.remove-order-item-btn:visited {
	text-decoration: none;
	color: #cccccc;
}
.remove-order-item-btn:hover {
	text-decoration: none;
}
.remove-order-item-btn:active {
	text-decoration: none;
}
/* end cart page */

/* amount controler ui */
.appetit-item-amount-controler-ui {
	margin-top: 10px;
}

.appetit-item-amount-controler {
	border-style: solid;
	border-width: 1px;
	border-color: #bdc2c7;	
}

.appetit-item-amont-btn:link {
	padding: 9px;
	text-decoration: none;
	display: inline-block;
	color: #000000;
}
.appetit-item-amont-btn:visited {
	color: #000000;
}
.appetit-item-amont-btn:hover {
	color: #000000;
	background-color: #fdf0ed;
}
.appetit-item-amont-btn:active {
	color: #000000;
	background-color: #fdf0ed;
}

.appetit-item-count {
	min-width: 30px;
	text-align: center;
	padding: 9px;
}

.appetit-mobile-save-item-btn {
	margin-left: 20px;
}

.appetit-mobile-save-icon {
	margin-right: 10px;
}

.appetit-item-amount-controler-in-cover {
	position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100%;
}

.appetit-item-amount-controler-in-cover .appetit-mobile-save-item-btn {
	float: right;
	margin-right: 20px;
}

.appetit-item-amount-controler-in-cover .appetit-item-amount-controler {
	background-color: #FFFFFF;
}

.item-content-description {

}

/* end amount controler ui */



/* utils */
.appetit-hide {
	display: none;
}

.appetit-show {
	display: block;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.clear-fx {
	clear: both;
}



