@font-face {
    font-family: 'appetit';
    src:    url('fonts/appetit.eot?jalbi8');
    src:    url('fonts/appetit.eot?jalbi8#iefix') format('embedded-opentype'),
        url('fonts/appetit.ttf?jalbi8') format('truetype'),
        url('fonts/appetit.woff?jalbi8') format('woff'),
        url('fonts/appetit.svg?jalbi8#appetit') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="appetit-"], [class*=" appetit-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'appetit' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.appetit-content_copy:before {
    content: "\e90e";
}
.appetit-save:before {
    content: "\e90c";
}
.appetit-arrow-move:before {
    content: "\e904";
}
.appetit-plus:before {
    content: "\e909";
}
.appetit-cloud-upload2:before {
    content: "\e907";
}
.appetit-cross:before {
    content: "\e900";
}
.appetit-floppy-o:before {
    content: "\e90b";
}
.appetit-copy:before {
    content: "\e90d";
}
.appetit-floppy-disk:before {
    content: "\e90a";
}
.appetit-move2:before {
    content: "\e905";
}
.appetit-move:before {
    content: "\e903";
}
.appetit-trashcan2:before {
    content: "\e902";
}
.appetit-trashcan:before {
    content: "\e901";
}
.appetit-upload:before {
    content: "\e908";
}
.appetit-cloud-upload:before {
    content: "\e906";
}

