@font-face {
  font-family: 'appetit-front';
  src:  url('fonts/appetit-front.eot?crxi9u');
  src:  url('fonts/appetit-front.eot?crxi9u#iefix') format('embedded-opentype'),
    url('fonts/appetit-front.ttf?crxi9u') format('truetype'),
    url('fonts/appetit-front.woff?crxi9u') format('woff'),
    url('fonts/appetit-front.svg?crxi9u#appetit-front') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="appetit-icon-"], [class*=" appetit-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'appetit-front' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appetit-icon-trashcan:before {
  content: "\e913";
}
.appetit-icon-trashcan2:before {
  content: "\e914";
}
.appetit-icon-garbage:before {
  content: "\e914";
}
.appetit-icon-delete:before {
  content: "\e914";
}
.appetit-icon-remove:before {
  content: "\e914";
}
.appetit-icon-bin:before {
  content: "\e914";
}
.appetit-icon-uninstall:before {
  content: "\e914";
}
.appetit-icon-cart:before {
  content: "\e911";
}
.appetit-icon-trash:before {
  content: "\e915";
}
.appetit-icon-remove2:before {
  content: "\e915";
}
.appetit-icon-delete2:before {
  content: "\e915";
}
.appetit-icon-basket:before {
  content: "\e912";
}
.appetit-icon-download:before {
  content: "\e90f";
}
.appetit-icon-drawer:before {
  content: "\e90f";
}
.appetit-icon-save:before {
  content: "\e90f";
}
.appetit-icon-store:before {
  content: "\e90f";
}
.appetit-icon-archive:before {
  content: "\e90f";
}
.appetit-icon-close:before {
  content: "\e90e";
}
.appetit-icon-add:before {
  content: "\e908";
}
.appetit-icon-eye:before {
  content: "\e916";
}
.appetit-icon-circle-cross:before {
  content: "\e90c";
}
.appetit-icon-cross:before {
  content: "\e90d";
}
.appetit-icon-menu:before {
  content: "\e909";
}
.appetit-icon-minus:before {
  content: "\e90a";
}
.appetit-icon-plus:before {
  content: "\e90b";
}
.appetit-icon-arrow-right:before {
  content: "\e902";
}
.appetit-icon-arrow-left2:before {
  content: "\e903";
}
.appetit-icon-arrow-down:before {
  content: "\e904";
}
.appetit-icon-arrow-up:before {
  content: "\e905";
}
.appetit-icon-arrow-left:before {
  content: "\e906";
}
.appetit-icon-floppy-o:before {
  content: "\e910";
}
.appetit-icon-save2:before {
  content: "\e910";
}
.appetit-icon-angle-left:before {
  content: "\e907";
}
.appetit-icon-angle-right:before {
  content: "\e900";
}
.appetit-icon-chevron-thin-left:before {
  content: "\e901";
}

